@keyframes spin{
    0%{
        transform: rotate(-200deg);
    }
    100%{
        transform: rotate(0);
    }
}
@keyframes apparition{

0%{
    transform: translateY(50%);
    opacity: 0
}
100%{
    transform: translateY(0);
    opacity: 1;
}
}

@keyframes disappear {
    to {
       transform: scale(0);
    }
   }
   @keyframes spin {
       to {
           transform: rotate(360deg);
       }
   }@keyframes disappear {
    to {
       transform: scale(0);
    }
   }
   @keyframes spin {
       to {
           transform: rotate(360deg);
       }
   }@keyframes disappear {
    to {
       transform: scale(0);
    }
   }
   @keyframes spin {
       to {
           transform: rotate(360deg);
       }
   }