@use "../../sass/keyframes.scss";
.header-arrow {
    position: absolute;
    left: 2rem;
    height: 2rem;
    width: 2rem;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    font-size: 2rem;
    color: black;}
img{
    max-width: 100%;
    max-height: 32rem;
    width: 100%;
    object-fit: cover;
}  
main{
    margin-top: -10rem;
    position: relative;
    background-color: #f6f6f6;
    border-radius: 30px 30px 0 0;
    max-width: 100%;
    h2{
        font-family: 'Shrikhand';
        padding: 2rem;
    }

.block-heart-icone{
i{  
    right: 1rem;
    transform: translateY(-68px)

}
.stroke-heart{
    position: absolute;
    visibility: visible;
    font-size: 40px;
}
.gradient-heart{
    background:-moz-linear-gradient(top, #FF79DA 0%, #9356DC 100%); 
    background: -webkit-linear-gradient(top, #FF79DA 0%,#9356DC 100%); 
    background: linear-gradient(to bottom, #FF79DA 0%,#9356DC 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
   -webkit-text-fill-color:transparent;
   position: absolute;
   opacity: 0;
   z-index: 0;
   font-size: 40px;
   transition: all 400ms ease-in-out;  
}
.stroke-heart:hover{
    opacity: 0;
    transition: .0s;
}
.gradient-heart:hover{
    opacity: 1;
    }
 }

 .main-menu{
    display: grid;
    gap: 1rem;
    overflow: hidden;
    grid-template-columns: repeat(3, 1fr);
    @media screen and (max-width: 992px) {
        grid-template-columns: 1fr;
    }
    
        h3{
        text-transform: uppercase;
        font-weight: 400;
        position: relative;
        top: 0rem;
        right: -1rem;
    }
    h3::after{
        content: "";
        top: 1.4rem;
        left: 0;
        height: 0.25rem;
        width: 2rem;
        display: inline-block;
        background-color: #99e2d0;
        position: absolute;
    }
 .menu-column{
     border-radius: 1rem;
     overflow: hidden;
    }
    #case1{
        animation: apparition 2s;
        animation-fill-mode: both;
        animation-delay: 100ms;
    }
    #case2{
        animation: apparition 2s;
        animation-fill-mode: both;
        animation-delay: 200ms;
    }
    #case3{
        animation: apparition 2s;
        animation-fill-mode: both;
        animation-delay: 300ms;
    }
    #case4{
        animation: apparition 2s;
        animation-fill-mode: both;
        animation-delay: 400ms;
    }
    
    .menu-case{
         display: flex;
         background-color: white;
         box-shadow: 5px 5px 10px 5px rgb(0 0 0 / 10%);
        border-radius: 1rem;
        margin: 1rem;
        cursor: pointer;
        display: flex;
       overflow: hidden;
     
        animation: apparition 2s;
        animation-fill-mode: both;
       .menu-card-title{
           padding: 1rem;
           overflow-x: hidden;
          h4{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          p{
            overflow-x: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
       }
    }
    .price{
        margin-left: auto;
        padding: 1rem;
        font-weight: 700;
        display: flex;
        align-items: flex-end;
    }
    .validation-block{
        margin-right: -4rem;
        background-color: #99e2d0;
        width: 4rem;
        transition: all 0.8s;
        i {
            display: grid;
            place-items: center;
            margin-top: 21px;
            font-size: 25px;
            color: white;
        }
        }
        .menu-case:hover .validation-block{
            margin:0;
            i{
                animation: spin 0.5s ease-in-out;
            }
        }
    }
}
 

.container-button{
    display: flex;
    text-decoration: none;
    justify-content: center;
    padding: 3rem 0;
    .order-button{
        border: 0;
        padding: 0.75rem 1.5rem;
        font-weight: 500;
        font-size: 1.1rem;
        border-radius: 100px;
        color: #fff;
        background-color: #686868;
        background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
        transition-duration: .25s;
        box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
        cursor: pointer;
    }
    .order-button:hover{
        opacity: 0.9;
        cursor: pointer;
        transition: .3s;
        box-shadow:0.25rem 0.25rem 10px rgb(0 0 0 / 50%);
    }
}
